<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-searchbar autocomplete="auto" (ionChange)="onChange($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="mt-1" *ngIf="movies">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="4" size-md="12" size-xs="12" size-sm="12" *ngFor="let movie of movies.results">
          <app-movie-card [movie]="movie" [routerLink]="['/movie-details', movie.id]"></app-movie-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMovies($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div class="mt-5" *ngIf="errorMessage">
    <ion-text>{{ errorMessage }}</ion-text>
  </div>
</ion-content>
