<ion-content>
  <div class="container">
    <ion-item>
      <ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-label>
      <ion-input type="search"></ion-input>
    </ion-item>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="4" size-md="12" size-xs="12" size-sm="12" *ngFor="let movie of movies">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="fs-4">{{ movie.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path }}" alt="">
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
